<div class="container-fluid">
  <div class="row" style="background-color: #474E5D; padding-top:2%">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <center>
        <figure>
           <% if @profile %>
            <%= image_tag @profile.pic.url, class: "img-circle img-thumbnail img-responsive", alt: "Jinal Dedhia", style: "width:80px; height:80px" %> 
           <% end %>
          <figcaption></figcaption>
        </figure>
      </center>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <blockquote class="blockquote-reverse">
        <p style="color:#FFFFFF"><%= @footer[:blockquote] %></p>
        <footer><%= @footer[:blockquote_footer] %></footer>
      </blockquote>
    </div>
  </div>
</div>
<script>
$("img").on("contextmenu",function(){
    return false;
    });
</script>
