body{
  font-family: 'Comic Sans MS', cursive, sans-serif; 
}

body.home{
 color: #FFFFFF; background-color: #1ABC9C;
}

article .container {                                                                 
  padding-top: 30px;
  padding-bottom: 30px;                                                                          
}  

.fa-quote-left, .fa-quote-right{                                                                 
  position: relative;                                                                            
  top:-5px;                                                                                      
}

article.bg-white{
  background-color: #FFFFFF;
  color: #B3ADAE
}

article h3 + small{
  position: relative;
  top: -10px;
}

img.blog-image{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
