<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/partials/application/head' %>
  </head>
  <body class="home">
    <%= render 'layouts/partials/application/nav' %>
    <%= yield %>
    <%= render 'layouts/partials/application/footer' %>
  </body>
</html>
